@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #e7ebf2;

  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b2c8ed;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(102, 163, 229);
}

.scrollable {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

@keyframes scrollLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scrollLeft {
  animation: scrollLeft 22s linear infinite;
}

